user {{ app_user }};
worker_processes auto;

events {
    worker_connections 1024;
}

http {
    server {
        listen {{ nginx_port }};
        server_name {{ ansible_hostname }};

        root /var/www/myapp;
        index index.html;

        location / {
            try_files $uri $uri/ =404;
        }
    }
}
